body {
    font-family: Tahoma, sans-serif;
    background-color: rgb(252, 250, 248);
}

h1 {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    padding-bottom: 5px;
    text-transform: uppercase;
    border-bottom: 2px rgb(23, 3, 56) solid;
}

form {
    margin: 0 auto;
    background-color: rgb(217, 230, 170);
    padding: 20px;
    width: 450px;
    height: 590px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.82);
}

.group {
    margin: 10px;
    padding: 5px;
}

label {
    padding-left: 5px;
    text-transform: uppercase;
}

.group-item {
    margin-top: 10px;
    width: 400px;
    height: 25px;
    padding-left: 15px;
    font-size: 18px;
    border: none;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.82);
}

.inner {
    margin: 10px auto;
    padding-left: 15px;
}

h2 {
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    padding-left: 5px;
    padding-bottom: 5px;
    text-transform: uppercase;
}

span {
    padding-left: 100px;
}

.number {
    padding-left: 15px;
    font-size: 18px;
    border: none;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.82)
}

.wrapper {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    padding-left: 10px;
}

.course {
    padding-left: 10px;
}

select {
    margin-top: 10px;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.82); 
}

.address {
    padding-left: 15px;
}

textarea {
    margin-top: 10px;
    padding-left: 15px;
    font-size: 18px;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.82);
}

.agree {
  margin-left: 10px;
}

.button {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn {
    width: 150px;
    padding: 10px;
    background-color: rgba(22, 4, 34, 0.877);
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.btn:hover {
    background-color: #ffffff;
    color: black;
    border: 1px solid rgba(22, 4, 34, 0.877);
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}
